
.wrapper {
    display: flex;
    width: 50%;
    margin-top: 100px;
    height: 100%;
    align-items: center;
    align-content: center;
    margin-left: 25%;
    font-family: Calibri;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    width: 55%;
    height: 470px;
    border-radius: 20px;
    background-image: url("img/back.png");
    background-size: cover;
    padding: 20px;
}

.left-side-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 470px;
    border-radius: 20px;
    background-image: url("img/back.png");
    background-size: cover;
    padding: 20px;
}

.input-place {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-top:50%;
}

.input-city {
    display: flex;
    flex-direction: row;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    box-sizing: border-box;
    opacity: 50%;
    user-select: none;
}

.input-city-img {
    display: flex;

    flex-direction: row;
    margin-left: 130px;
    margin-top: -22px;
    width: 15px;
    height: 15px;
    opacity: 60%;
}

.my-location {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    padding: 10px;
    transition-delay: 0.2s;
}

.my-location img {
    flex-direction: row;
    margin-top: -5px;
    width: 30px;
    height: 30px;
}

.my-location:hover {
    color: aquamarine;
}

.error {
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 80px;
    background-color: #d0e0eb;
    padding: 5px;
    height: 25px;
    border-radius: 5px;
    color: red;
    font-size: 18px;
}

.input-city:focus {
    opacity: 80%;
    border: none;
}

.input-place-new {
    display: flex;
    margin-top: 30px;
}

.input-place-new img {
    justify-content: flex-end;
    margin-left: -20px;
    margin-top: 10px;
    width: 15px;
    height: 15px;
    opacity: 60%;
    align-items: center;
}

.city-name {
    display: flex;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}

.data {
    font-size: 18px;
    color: #fff;
}

.time {
    font-size: 18px;
    color: #fff;
}

.weather-info-bottom {
    display: flex;
    flex-flow: row;
    margin-top: 150px;
}

.weather-item {
    display: flex;
    flex-flow: row;
    align-self: flex-end;
    font-weight: bold;
    font-size: 65px;
    color: #fff;
}

.weather-clouds-img img {
    display: flex;
    margin-top: 10px;
    width: 80px;
    height: 80px;
    padding-top: 15px;
    flex-flow: row;
    align-self: flex-end;
}

.left-side-bottom {
    display: flex;
    flex-flow: row;
    justify-content:space-between;
}

.more-info {
    display: none;
    margin-right: 4%;
    text-decoration: none;
    width: 70px;
    border: 1px solid #024e54;
    border-radius: 5px;
    justify-content: center;
    transition-delay: 3s;
}

.more-info:hover {
    background-color: rgba(255,255,255,.2);
    color: #d0e0eb;
}

.more-info:active {
    background-color: rgba(255,255,255,.2);
}

.weather-clouds {
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
    padding-left: 5px;
}




/****RIGHT-SIDE*****/

.right-side {
    display: none;
    flex-flow: column;
    box-shadow: 10px 5px 5px slategray;
    width: 40%;
    height: 550px;
    background-color: #d0e0eb;
    border-radius: 20px;
    margin-left: -20px;
    padding: 20px;
}

.right-side.visible {
    opacity: 1;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}


@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

.close-btn {
    display: flex;
    justify-content: flex-end;

}

.close-btn img {
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
    opacity: 70%;
}

.close-btn img:hover {
    opacity: 20%;
}

.humidity {
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #024e54;
}

.wind {
    margin-top: 20px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #024e54;
}

.feels {
    margin-top: 20px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #024e54;
}

.weather-day {
    display: flex;
    flex-flow: row;
    justify-content:space-around;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 32px;
    width: 100%;
    height: 100px;
    background-color: #768792;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

.weather-day:hover {
    background-color: #84a5b6;
    transition: 0.8s;
}

.data-right {
    display: flex;
    flex-flow: column;
    margin-top: 18px;
    font-size: 17px;
    color: white;
}

.weather-info {
    display: flex;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: 15px;
    margin-left: 4%;
}

.weather-icon img {
    display: flex;
    width: 80px;
    height: 80px;
    margin-top: 3px;
}


/****** MEDIA *******/

@media (max-width: 900px) {
   .left-side {
       width: 55%;
   }

    .data-right {
        font-size: 17px;
    }
}


@media (max-width: 1000px) {

    .wrapper {
        display: flex;
        flex-flow: column;
        width: 90%;
        margin: 5%;
    }

    .left-side {
        order: 0;
    }

    .right-side {
        display: none;
        order: 1;
        width: 55%;
        margin-left: 0px;
    }

    .data-right {
        font-size: 17px;
    }
}

@media (max-width: 1250px) {
    .data-right {
        font-size: 14px;
    }
}









